.form-card {
  width: 400px;
  margin: auto;
  background: #1A1A1A;
  padding: 20px;
  border-radius: 12px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #111;
  border: none;
  color: white;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #E50914;
  border: none;
  color: white;
}